# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# =========================
# Dataset (DO NOT UPLOAD)
# =========================
data/
dataset/
datasets/
raw_data/
processed_data/
test_images/

# =========================
# Model weights / checkpoints
# =========================
*.h5
*.ckpt
*.ckpt.*
saved_model/
checkpoints/

# =========================
# Training logs / experiments
# =========================
logs/
runs/
tb_logs/
wandb/
mlruns/
outputs/
artifacts/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
